html{font-size:62.5%;}
body{font-family: 'proxima-nova', sans-serif;font-weight:normal;font-size:14px;font-size:1.4rem;}
.logo{font-size:36px; color:#000;  font-family: "proxima-nova"; font-weight:100; margin:0;}.logo a{text-decoration:none;text-transform:uppercase}.logo a:link{color:#000;}.logo a:active{color:#000;}.logo a:visited{color:#000;}.logo a:hover{color:#000;}
.partof{text-transform:uppercase;letter-spacing:2px;margin-left:2px;}
.partof a{text-decoration:none;color:#3e2870;}
#navigation-bar{width:100%;background:#aaacae;}
.infiniti-logo{width:160px !important;}
.header-contact-info{text-align:right;font-size:14px;font-size:1.4rem;line-height:22px;padding-top:10px;width:435px !important;}
.m10{margin-top:10px;}.m20{margin-top:20px;}.pb60{padding-bottom:60px;}
.contact-details{line-height:22px;}

/* Navigation */
nav{height:40px;position:relative;z-index:999;font:400 16px/49px 'proxima-nova',sans-serif}
#nav li{float:left;position:relative;}
#nav a{color:#000;display:block;text-decoration:none;padding:0 52px;}
#nav a:hover{text-decoration:none;color:#fff;background:#3e2870;}

h1{color:#3e2870;font-size:36px;font-size:3.6rem;font-weight:400;margin-bottom:15px;}
h2{color:#3e2870;font-size:33px;font-size:3.3rem;font-weight:400;margin-bottom:15px;}
h3{color:#3e2870;font-size:25px;font-size:2.5rem;font-weight:400;margin-bottom:5px;}
p{margin:0 0 1.5em;line-height:19px;}


.table1 {background: #ccc;border-collapse: collapse;}
.table1 td {padding:8px; border: 1px solid #eee;}
.tr1 {background: #3e2870 !important;color: #fff;}
.tr1 td{text-align:center;}
.td1 {background: #a5a4a4;}

